<div class="span12">
    <h2 class="page-header">Edição de Usuário</h2>

    <form class="form-horizontal" action="/user/user/editpost" role="form" method="post">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-red icon icon-user"></i></span><input size="16" type="text" placeholder="Username" id="user" name="user" value="<?php echo $__values['user']; ?>"/>
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-red icon icon-locked"></i></span><input size="16" type="password" placeholder="Password" id="password" name="password"/>
        </div>
        <input type="hidden" name="id" value="<?php echo $__values['entity_id']; ?>">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

</div>