<p></p>
<div class="row-fluid">
    <div class="span12" style="margin-bottom: 15px; margin-top: 15px">
        <h3 style="float: left;"><i class="icon icon-pilot24"></i> <a href="/system/index"><?php echo _NAME_; ?></a></h3>
        <?php if (self::userLogged()) {
        $user = self::getUser();
        ?>
        <span style="float: right;width: 250px;">Logado como: <strong><?php echo $user['user'] ?></strong> - <a
                href="/user/login/logout">Logout</a>
            <?php } ?>
        </span>
    </div>
</div>