<div class="span12">
    <h2 class="page-header">Listagem de Editores</h2>

    <p class="right">
        <a href="/system/editor/new" class="btn btn-block btn-primary"><i class="icon-plus icon-white"></i> Adicionar</a>
    </p>

    <?php echo $__grideditors; ?>
</div>