<div class="row-fluid">
    <div class="well span5 center login-box">
        <div class="alert alert-info">
            Entre com login e senha para ter acesso ao sistema
        </div>
        <form class="form-horizontal" action="/user/login/loginpost" method="post">
            <fieldset>
                <div class="input-prepend" data-rel="tooltip" data-original-title="Username">
                    <span class="add-on"><i class="icon-user"></i></span><input autofocus="" class="input-large span10" name="user" id="username" type="text">
                </div>
                <div class="clearfix"></div>

                <div class="input-prepend" data-rel="tooltip" data-original-title="Password">
                    <span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10" name="password" id="password" type="password">
                </div>
                <div class="clearfix"></div>

                <p class="center span5">
                    <button type="submit" class="btn btn-primary">Login</button>
                </p>
            </fieldset>
        </form>
    </div><!--/span-->
</div>