<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon-info-sign"></i> Introduction</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <h1>Book <small>Store</small></h1>
            <p>Apresentação do sistema...</p>
            <p><b>Click nos links abaixo para ter acesso os módulos do sistema</b></p>

            <p class="center">
                <a href="/user/user/index" class="btn btn-large btn-primary"><i class="icon-user icon-white"></i> Usuários</a>
                <a href="/system/book/list" class="btn btn-large btn-primary"><i class="icon-book icon-white"></i> Livros</a>
                <a href="/system/editor/list" class="btn btn-large btn-primary"><i class="icon-pencil icon-white"></i> Edirores</a>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <?php echo $__grideditors; ?>
    </div>
    <div class="span6">
        <?php echo $__gridbooks; ?>
    </div>
</div>