
<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $this->getTitle(); ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Pilot Framework, php, HTML5, MVC, Developer">
        <meta name="author" content="Alexandre Gomes">
        <link id="bs-css" href="/libs/bootstrap/css/bootstrap-classic.min.css" rel="stylesheet">
	<link href="/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/libs/bootstrap/css/charisma-app.css" rel="stylesheet">
	<link href="/libs/bootstrap/css/jquery-ui-1.8.21.custom.min.css" rel="stylesheet">
	<link href='/libs/bootstrap/css/fullcalendar.min.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/chosen.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/uniform.default.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/colorbox.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/jquery.cleditor.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/jquery.noty.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/noty_theme_default.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/elfinder.min.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/elfinder.theme.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/jquery.iphone.toggle.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/opa-icons.css' rel='stylesheet'>
	<link href='/libs/bootstrap/css/uploadify.css' rel='stylesheet'>
        <?php $this->getCSSLibs(); ?>
        <?php $this->getCSS(); ?>
        <script src="/libs/jquery/jquery_core_ui.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div id="header" class="row"><?php $this->getHeader($vars); ?></div>
                <div id="messages" class="row"><?php $this->getMessages(); ?></div>
                <div id="content" class="row"><?php $this->getTemplate($vars); ?></div>
                <div id="footer" class="row"><?php $this->getFooter($vars); ?></div>
            </div>
        </div>
    </body>
    <?php $this->getJSLibs(); ?>
    <script src="/libs/bootstrap/js/jquery.cookie.js"></script>
    <script src="/libs/bootstrap/js/jquery.noty.min.js"></script>
    <script src="/libs/bootstrap/js/default.js"></script>
    <?php $this->getJS(); ?>
</html>
