<div class="box-content alerts">

    <?php if (isset($_SESSION['Error_Msg'])) { ?>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Erro:</strong> <?php echo $_SESSION['Error_Msg']; ?>
        </div>
        <?php
        unset($_SESSION['Error_Msg']);
    } ?>

    <?php if (isset($_SESSION['Success_Msg'])) { ?>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Sucesso:</strong> <?php echo $_SESSION['Success_Msg']; ?>
        </div>
        <?php
        unset($_SESSION['Success_Msg']);
    } ?>

    <?php if (isset($_SESSION['Info_Msg'])) { ?>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Informação:</strong> <?php echo $_SESSION['Info_Msg']; ?>
        </div>
        <?php
        unset($_SESSION['Info_Msg']);
    } ?>
</div>
<script src="/libs/bootstrap/js/bootstrap-alert.js"></script>