<div class="span12">
    <h2 class="page-header">Controle de Usuários</h2>

    <form class="form-horizontal" action="/user/user/userpost" role="form" method="post">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-red icon icon-user"></i></span><input size="16" type="text" placeholder="Username" id="user" name="user" />
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-red icon icon-locked"></i></span><input size="16" type="password" placeholder="Password" id="password" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <?php echo $__grid; ?>
</div>